<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text">
      <div class="logo-img">
          <img src="/assets/img/angular2-logo-red.png"/>
      </div>
      Music Store
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="nav-container">
      <ul class="nav">
          <a href="#" class="list-group-item" routerLinkActive="active">
            <i class="material-icons"></i>
            <p>title</p>
          </a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
          <a href="#" class="list-group-item">Link</a>
      </ul>
  </div>
</div>